<div class="section values">
  <div class="container">
    <div class="row">
      <hgroup>
        <h1>Welcome to ONEBas.com</h1>
      </hgroup>

      <form>
        <div class="group">
          <input type="text"><span class="highlight"></span><span class="bar"></span>
          <label>Name</label>
        </div>
        <div class="group">
          <input type="email"><span class="highlight"></span><span class="bar"></span>
          <label>Email</label>
        </div>
        <!-- <button type="button" class="button buttonBlue">
          Become an artist
          <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
          </div>
        </button> -->
        <a href="#" class="btn btn-success">Become an artist!</a>
      </form>
    </div>
  </div>
</div>
